@media #{$small-up} {
	section.home-cta {
	    position: relative;
	    height: auto;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin: 0;
        .excerpt {
            margin-top: rem-calc(75px);
            font-size: rem-calc(21px);
            text-align: left;
            font-weight: 500;
            p, h2 {
                text-shadow: 0 2px 3px rgba(25,25,25,0.75);
            }
            p {
                color: $white;
                max-width: 85%;
            }
            h2 {
                color: $white;
                text-align: left;
                font-size: 2.3rem;
                font-weight: 600;
                max-width: 65%;
                text-transform: uppercase;
                border-top: 4px solid $red;
                padding-top: rem-calc(24px);
            }
        }
        .buttons {
            margin-top: 1rem;
            text-align: center;
            float: left !important;
            .button {
                width: 100%;
                background: transparent;
                color: $white;
                text-transform: uppercase;
                font-weight: 700;
                font-size: rem-calc(18px);
                border: rem-calc(3px) solid $white;
                &:hover {
                    background: $white;
                    color: $oil;
                }
            }
        }
	}
}

@media #{$medium-up} {
	section.home-cta {
	    height: rem-calc(450);
	}
}

@media #{$small-only} {
    section.home-cta {
        padding-bottom: 2rem;
    }
}
