body.single-listing {
    
    //Let's adjust the featured hero
    #featured-hero {
        height: rem-calc(500);
        margin-bottom: 0;
    }
    
    //Now to His Majesty the Address Bar
    #address {
        margin-bottom: rem-calc(20px);
        padding: 30px 0;
        background-color: $red;
        .address-bar {
            a, p, i {
                color: $white;
                letter-spacing: 1.5px;
                text-decoration: none;
                text-transform: uppercase;
                text-shadow: 0px -2px 0px $oil;
            }
        }
        .large-4 {
            position: relative;
            .contact-block {
                margin: 2rem 0;
                text-align: left;
                @media #{$large-up} {
                    text-align: center;
                    background-color: $oil;
                    position: absolute;
                    top: -2rem;
                    padding: 1rem;
                    margin: 0;
                }
                .header {
                    h2 {
                        color: $white;
                    }
                }
                .content {
                }
            }
        }
    }
    
    //Let's take care of the info bar 
    
    .info {
        padding: 2rem 0;
        .info-icons {
            text-align: left;
            color: #646464;
            > span {
                padding: 0 0.5rem;
                &:first-of-type {
                    padding-left: 0;
                }
            }
        }
        .info-author {
            img {
                border-radius: 50%;
                box-shadow: 0 2px 3px rgba(25,25,25,0.65);
            }
        }
        h2 {
            font-weight: 600;
        }
        h4 {
            color: #454545;
            display: inline-block;
            font-weight: 900;
            font-size: 16px;
            letter-spacing: 4px;
            line-height: 1rem;
            text-transform: uppercase;
        }
        divider {
            background-color: $red;
            margin: 1rem 0 0 0 !important;
            width: 65%;
        }
    }
    
    //Now to the content 
    
    .main {
        padding: 1rem 0;
    }
    
    .entry-content {
        padding-right: 2rem;
        .featured {
            margin: 1rem auto;
        }
        .entry-header {
            color: #454545;
            border-bottom: 5px solid $red;
            display: inline-block;
            font-weight: 900;
            font-size: 18px;
            padding-bottom: 15px;
            letter-spacing: 4px;
            text-transform: uppercase;
            margin-bottom: 30px;
            margin-top: 40px;
        }
    }
    
    //Sidebar it up, yo!
    .sidebar {
        margin-top: 12rem;
        .sidebar-title {
            color: #454545;
            display: inline-block;
            font-weight: 900;
            font-size: 16px;
            letter-spacing: 4px;
            padding-bottom: 1rem;
            margin-bottom: 2rem;
            line-height: 1rem;
            text-transform: uppercase;
            border-bottom: 2px solid $red;
        }
    }
    
}

//Tweak those sort settings

.sort-type {
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 2rem !important;
    .sort-title {
        color: darken(#bdbdbd, 15%);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.3rem;
    }
    .sort-links {
        float: right;
        list-style: none;
        margin-bottom: 0 !important;
        .sort-link {
            float: left;
            padding: rem-calc(7px) 1rem 0 1rem;
            color: darken(#bdbdbd, 15%) !important;
            font-weight: 700;
            text-transform: uppercase;
            a {
                color: darken(#bdbdbd, 15%) !important;
            }
            &:hover {
                border-bottom: 2px solid lighten($oil,25%);
            }
        }
    }
}

//Now let's manage our listings wall

body.page-template-listing-wall {
    article {
        clear: both;
        margin-bottom: 34px;
        background-color: $white;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border: 1px solid #ddd;
        overflow: hidden;
    }
    
    //Hit the panel body content
    .panel-body, .panel-footer {
        padding: 1rem;
    }
    
    .panel-footer {
        text-align: center;
        background-color: #ddd;
        border-top: 1px solid #ddd;
        .info-icons {
            span {
                color: #646464;
                padding: 1rem;
            }
        }
    }
    
    .panel-body {
        @media only screen and (max-width:1024px) {
            text-align: center;
        }
        .button {
            display: block;
            width: 85%;
            float: left;
            background-color: $red;
            @media only screen and (max-width:1024px) {
                margin: 0 auto;
            }
            &:hover {
                background-color: $oil;
            }
        }
        .entry-content {
            h4 {
                border-bottom: 2px solid $red;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
    
}