// larger screen styles

@media only screen and (min-width: 40em) {

  .top-bar {
    text-align: center;
  }

  ul.center-buttons {
    display: inline-block;
  }

  .logo {
    left: 5px;
    top: -2px;
    position: absolute;
  }
}

// some mobile resets

.logo {
  max-width: 2rem;
  margin-top: -3px;
  margin-left: 5px;
}

.menu-icon {
  padding-top: 1.2rem;
}

.top-bar.expanded {
  background: #333333;
}





// Switch between the mobile menu (tab-bar) and desktop menu (topbar) based on a custom $topbar-breakpoint value.
// The $topbar-breakpoint can be edited in _custom-settings.scss.

@media only screen and (min-width: ($topbar-breakpoint + em-calc(1))) {
  .tab-bar { display: none; }
}

// Hide the topbar when the screen size is smaller than the topbar breakpoint
@media only screen and (max-width: $topbar-breakpoint) {
  body.offcanvas .top-bar { display: none; }
}
